.card::before {
    font-family: "Courier New", Courier, monospace;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #333 0deg,
        #333 176deg,
        #61dafb 193deg,
        #333 217deg,
        #333 1turn
    );
}

.container-card {
    /* background: linear-gradient(71deg, #080509, #1a171c, #080509); */
    /* background-clip: padding-box; */
}

.bg-box1::after,
.bg-box2::after,
.bg-box3::after,
.bg-box4::after {
    /* position: absolute; */
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-box1,
.bg-box1 figure {
    /* box-shadow: 2px -4px 14px -1px #3da077 !important ; */
}

.bg-box2,
.bg-box2 figure {
    /* box-shadow: 2px -4px 14px -1px #b0afb0 !important ; */
}

.bg-box3,
.bg-box3 figure {
    /* box-shadow: 2px -4px 14px -1px #afa220 !important ; */
}

.bg-box4,
.bg-box4 figure {
    /* box-shadow: 2px -4px 14px -1px #5f6fad !important ; */
}

.bg-box1::after {
    /* background: linear-gradient(71deg, #0d1212, #3da077, #0d1212); */
}

.bg-box2::after {
    /* background: linear-gradient(71deg, #121013, #b0afb0, #121013) !important; */
}

.bg-box3::after {
    /* background: linear-gradient(71deg, #110e0e, #afa220, #110e0e) !important; */
}

.bg-box4::after {
    /* background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e) !important; */
}
